# SERVER & BOT CONFIGURATION
PORT=3000
BOT_NAME=Navya
BOT_NUMBER=2347077445628
PREFIX=.
MODE=public
ANTICALL=false

# SESSION & AUTHENTICATION
SESSION_ID=

# AI Credentials
GEMINI_API_KEY=
HF_TOKEN=

# ANTI-PORN API KEYS (Sightengine)
SIGHTENGINE_USER=
SIGHTENGINE_SECRET=

# OWNER DETAILS
OWNER_NAME=Rise
OWNER_NUMBER=2348058068041